body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5% auto;
    background-color: #f4f4f4;
}

.projects{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif ;
}

.project{
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.3s ease;
    border: none;
    background: #fff;
}
.project:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 3px 8px 5px;
}

/*Title project*/
.title-project{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 34px;
    margin: 1rem 0 0 0;

}

/*Title project animation */
/*Text Animation*/
.wrap-project, .wrap-inner-project {
    width: 100%;
    height: 100%;
  }
  .wrap-project {
    display: flex;
    height: 100%;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
  .wrap-inner-project {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .wrap-header-project {
    position: relative;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif ;
    color: #333;
    background: #fff;    
  }

  .wrap-header-project:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    height: 2px;
    animation: heading-after-project 4s ease infinite;
  }

  @keyframes heading-after-project {
    0% {
      left: auto;
      width: 0;
      right: 0;
      background-color: #347AB7;
    }
    10% {
      width: 50%;
      left: auto;
      background-color: #347AB7;
    }
    50% {
      width: 0;
      right: 100%;
      left: auto;
      background-color: #347AB7;
    }
    51% {
      width: 0;
      left: 0;
      right: auto;
      background-color: #c4302b;
    }
    60% {
      width: 50%;
      background-color: #c4302b;
    }
    99% {
      width: 0;
      left: 100%;
      right: atuo;
      background-color: #c4302b;
    }
    100% {
      left: auto;
      width: 0;
      right: 0;
      background-color: #c4302b;
    }
  } 
.project img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 7px;  
    border-top-right-radius: 7px;  
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.description h1{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #f4f4f4;
}
.line-row{
    width: 100%;
}

 .line-row .info-left{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     float: left;
     width: 50%;
     height: 50px;
     text-align: start;
     
}
 .line-row .info-right{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     float: right;
     width: 50%;
     height: 50px;
     text-align: start;
     /* margin-right: 1rem; */
}

.info-right span,
.info-left span{
 margin-right: 1rem;
 margin-left: 0.7rem;
 font-size: 18px;
 color: #eb5b56;
 width: 63px;
}

.info-left i,
.info-right i,
.date-project i{
    font-size: 17px;
    color: #eb5b56;
}
.info-left i{
    margin-left: 1.5rem;
}

.info-right p{
    margin-right: 1.5rem;
    text-align: start;
    align-self: flex-start;
}
.info-right p,
.info-left p{
    color: rgba(56, 56, 56, 0.9);
    font-size: 16px;
    
}

.date-project{
    width: 100%;
    justify-self: start;
    padding : 0 0 1rem 2.7rem;
    margin-top: 2rem;
}

.date-project i{
    margin-right: 0.7rem;
}

.mb-2{
    margin-bottom: 1.5rem;
}
