@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #edf1f7;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 1rem ;
}

.links{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #347AB7;
    color : #ffffff;
    margin: 0 auto;
    /* padding: 0 1rem; */
    border-bottom: #e8e8e8 1px solid;
    font-family: 'Roboto Condensed', sans-serif;
}



.links a{color: #f4f4f4;}
.links .active-red:hover{
    transform: translate(0,-4px);
    transition: all 0.3s ease-out ;
}
.links section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
}

.container-body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 3rem;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 0.5rem;
}
.buttons a {
    text-decoration: none;
    color: #777;
    background: #fff;
    border: #e8e8e8 2px solid;
    padding: 0.4rem;
    transition: all 0.3s ease-in-out;
}



.buttons a:hover{
    background: #5C95CB;
    color: #fff;
    border: #5C95CB 2px solid;
}

.active{
    background: #5C95CB !important;
    color: #fff !important;
    border: #5C95CB 2px solid !important;
}
.chantiers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 0 5rem;
    margin: 2rem 0;
    animation: cand 1s forwards ease;
}

@keyframes cand{
    from{
        transform: translate(0,-10px);
    }
    to{
        transform: translate(0,0);
    }
}

.chantiers .elemnt{
    border: 1px #e9e9e9 solid;
    transition: all 0.3s ease;
    background: #f4f4f4;
}

.chantiers .elemnt:hover{
    transform: translate(0,5px);
}

.chantiers .elemnt img{
    width: 100%;
    height: 250px;
}

.chantiers .elemnt h4{
    font-family: 'Lato',sans-serif;
    text-align: start;
    padding: 2rem 0.5rem;
}


@media(max-width:768px){
    .chantiers{
        grid-template-columns: repeat(3,1fr);
    }
}