@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chathura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background: #edf1f7;
    line-height: 1.9;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Lato', sans-serif;
    
}

.container{
    background: #fff;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.links{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5C95CB;
}
.links a{
    margin: 0 1rem;
    color: #fff;
    font-weight: bold;
    border-right: #fff 1px solid;
    padding-right: 1rem;
    transform: translate(0,0);
    transition: transform 0.3s ease-in-out;
    font-family: 'Roboto Condensed', sans-serif;
}
.links a:last-child{
    border-right: none;
}

.links a:hover{
    transform: translate(0,-5px);
    color: #444;
}

.showcase{
    background: #333;
    color: #fff;
    position: relative;
    width: 100%;
    height: 60vh;
   
}
.showcase::before{
    content: '';
    background: url(./img/photo\ equipe.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    opacity: 0.7;
    
}

 .showcase .showcase-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
 }

 .showcase .showcase-container .showcase-content{
     width: 100%;
     height: 100%;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
 }

 /* .showcase .showcase-container .showcase-content h4{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    animation: topic 1s forwards ease;
 }
 @keyframes topic{
     from{
         transform: translate(0,-20px);
     }
     to{
         transform: translate(0,0);
     }
 } */

.speech{
    width: 90%;
    height: 100%;
    margin: 4rem auto 0 auto;
    padding: 2rem 0;
}
.speech h4::before{
    content: '+';
    padding-right: 5px;
    border-radius: 50%;
    color: #5C95CB;
    font-size: 1.2rem;
}

.speech h4{
    animation: topic 1s forwards ease;
}

    .speech .line{
        width: 55px;
        height: 5px;
        background: #347AB7;
        /* border-radius: 2px; */
        margin-left: 10px;
        margin: 0 0 1rem 1rem;
    }

    .mb-1{margin-bottom: 2rem;}
    .mb-0{margin-bottom: 1rem;}
    .mbb-1{margin-bottom: 5rem;}


    .theTitle{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12rem;
        height: 65px;
        transform: translate(-50%, -50%);
        width: 600px;
    }
  
    .right, .left{
        width: 15%;
        overflow: hidden;
    }
    .left{
        text-align: center;
    }
    .theTitle h1{
        margin: 0;
        height: 120px;
        line-height: 120px;
        vertical-align: middle;
        font-family:  'Lato',sans-serif;
        font-weight: 600;
        font-size: 28px;
        color: #444;
        transform: translateX(100%);
        transition: transform 0.6s ease-out .1s;
    }
    
    .theTitle .separator{
        background-color: #e74a3b;
        width: 4px;
        transform: rotate(90deg);
        height: 0;
        display: block;
        margin: 0 6px 0 0;
        transition: height 0.3s ease 0.9s, transform 0.3s ease 0.6s;
    }
    
    .declencheur .separator{
        height: 100%;
        transform: rotate(0);
        transition: height 0.3s ease, transform 0.3s ease 0.4s;
    
    }
    .theTitle.declencheur h1{
        transform: translateX(0);
        transition: transform 0.6s ease-out 0.8s;
    }
    .theTitle.declencheur p{
        transform: translateX(0);
        transition: transform 0.5s ease-out 0.7s;
    }
    .theTitle .right{
        display: flex;
        align-items: center;
        width: 50%;
    }
    .theTitle p{
        margin: 0;
        padding: 0;
        font-family: 'Lato',sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        vertical-align: middle;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #333;
        transform: translateX(-100%);
        transition: transform 0.5s ease-out;
    }
    
    .toggleClass{
        background: none;
        border: none;
        border: 2px solid #333;
        font-size: 2rem;
        font-family: Calibri;
        font-weight: 100;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
    }
    .toggleClass:hover{
        background-color: #333;
        color: #fff;
    }
    .toggleClass:active{
        background-color: #2a2a2a;
    }

    .full{
        height: 100px !important;
    }

    .content-speech,
    .content-speech-lines{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 22px;
        margin: 0 0 7rem 7rem;
    }

    .val{
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
        margin-left: 7rem;
        width: 100%;
        height: 100%;
    }

    .content-speech-lines{
        margin: 0 0 0 5px;
    }

    .val i{
        font-size: 16px;
        color: #e74a3b;
    }




 /*Responsive*/

 @media(max-width:1024px)
 {

    /* .showcase,
    .showcase::before{
        width: calc(100%-20px);
        margin: 0 auto;
    } */

    .p-1{
        padding-right: 1rem;
    }
    .val{
        margin-left: 5rem;
    }
     .val i{
         align-self: flex-start;
         margin-top: 0.7rem;
     }
 }

 @media(max-width:768px){
   /* .val i{
        align-self: auto;
   } */

   .showcase::before{
       background: url('./img/photo\ equipe.jpg') no-repeat center center/cover;
       width: 100%;
       height: 100%;
   }

   .pp-1{
       padding-right: 47px;
   }

}

 @media(max-width:600px)
 {
    .speech{
        width: 100%;
        padding-left: 1rem;
    }
    .val{
        margin-left: 0.5rem;
    }

    .links{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;  
    }
    .links a{
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: #fff 1px solid;
    }
    
    .links a:hover{
        transform: translate(-5px,0);
    }
 }

