@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #edf1f7;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 95%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 1rem ;
}
.links{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5C95CB;
}
.links a{
    margin: 0 1rem;
    color: #fff;
    font-weight: bold;
    border-right: #fff 1px solid;
    padding-right: 1rem;
    transform: translate(0,0);
    transition: transform 0.3s ease-in-out;
}
.links a:last-child{
    border-right: none;
}
.links .active{
    color: #c4302b;
}
.links a:hover{
    transform: translate(0,-5px);
}
/* Slider image */
.slider {
    margin: 0 auto;
    /* max-width: 1100px; */
    width: 100%;
    height: 100%;
    /* height: 800px; */
  }
  
  .slide_viewer {
    height: 800px;  
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 800px;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 800px;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: url('./img/Page\ Qualité/Page0Photo3.jpg') no-repeat center center/cover;

  }
  
  .slide:nth-of-type(2) {
    background: url('./img/Qui\ sommes-nous/CV7B6082.jpg') no-repeat center center/cover;

  }
  
  .slide:nth-of-type(3) {
    background: url('./img/Qui\ sommes-nous/CV7B6084.jpg') no-repeat center center/cover;

  }
  
  .slide:nth-of-type(4) {
    background: url('./img/Qui\ sommes-nous/Qui sommes nous.jpg') no-repeat center center/cover;
    
 
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
    
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    /* max-width: 1100px; */
    position: relative;
    top: -600px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
    ;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
/*  */

/* .showcase{
    background: #333;
    color: #fff;
    position: relative;
    width: 100%;
    height: 40vh;
   
}
.showcase::before{
    content: '';
    background: url('./img/Page\ Qualité/Page0Photo3.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    opacity: 0.7;
}



.showcase .showcase-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.showcase .showcase-content h1{
    margin-top: 20px;
    font-size: 4rem;
    animation: cand 1s forwards ease-in-out;
}
@keyframes cand{
    from{
        transform: translate(0,-10px);
    }
    to{
        transform: translate(0,40px);
    }
} */
 

 .stats{
     background: #fff;
     height: 25vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-family: 'Lato', sans-serif;
     margin-top: -17rem;
 }

 .item{
     text-align: center;
     margin-right: 6rem;
     padding: 2rem 0;
 }
 .item:last-child{
     margin-right: 0;
 }

 .item i{
     color: #5C95CB;
     font-size: 4rem;
     margin-bottom: 0.7rem;
 }
 .item h4{
     color: #428CC6;
     font-size: 1.2rem;
     padding: 0 2rem;
 }

 .title{
     margin-left: 1.7rem;
     font-family: 'Lato',sans-serif;

 }

 .line{
     width: 60px;
     height: 6px;
     background: #347AB7;
     /* border-radius: 2px; */
     margin-left: 1.9rem;
     margin-bottom: 2rem;
 }
 .quality{
     display: flex;
     flex-direction: column;
     margin : 0 1rem 0.7rem 1rem;
     grid-gap: 0.7rem;
     padding: 0 2rem;
 }

 .time-ul{
     padding: 1rem 0;
     /* margin-top: 1rem; */
     background: #f6f6f6;

 }

 .time-ul ul li{
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #e3e3e3;
 }
 span{
     font-size: 1.1rem;
     /* font-weight: bold; */
     font-family: 'Roboto Condensed', sans-serif;
 }

.time-ul ul:first-child li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background:#e3e3e3;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.time-ul ul li .quality-content{
    width: 400px;
    padding: 1rem;
    background: #317ec7;
    transition: all 1s ease-in-out;
    /* visibility: hidden; */
    color: #fff;
    /* opacity: 0; */
    border-radius: 10px;
    margin-left: 1.3rem;
}

/* .time-ul ul li:nth-child(odd) div{
    left: 40px;
    transform: translateX(200px);
} */

.time-ul ul li:nth-child(even) div{
    left: -434px;
    transform: translateX(-435px);
}


@media(max-width:900px)
{
    .time-ul ul li .quality-content{
        width: 250px;
    }

    .time-ul ul li:nth-child(even) div{
        /* left: -200px; */
        transform: translateX(-290px);
    }
    
}

@media only screen and (max-width: 767px) {
    .previous_btn {
      left: 0;
    }
    .next_btn {
      right: 0;
    }
  }

@media(max-width:600px)
{
    .time-ul ul li .quality-content{
        width: calc(100vw -90px);
        background: #5C95CB;
    }

    .time-ul ul li:nth-child(even) div{
        transform: translateX(0);
    }

    .time-ul ul li{
        margin: 0 4rem;
    }

    .links{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .links a{
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: #fff 1px solid;

    }

    .links a:hover{
        transform: translate(-5px,0);
    }

    .links a:nth-child(4),
    .links a:nth-child(5),
    .links a:nth-child(6){
        border-bottom: #fff 1px solid;
    }

    .links a:nth-child(6){border: none;}

    .stats{
        flex-direction: column;
        height: 100%;
        padding: 0.7rem 0;
    }
    .item{
        margin-right: 0;
    }
}

