@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #edf1f7;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;

}

.category{
    --sport-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

ul{
    list-style: none;

}

img{
    width: 100%;
}

h1,h2,h3,h4{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin:0;
}

.category{
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    font-weight: bold;
    text-transform: uppercase; /*  Majuscule*/
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.category-sport{background: var(--sport-color);}
.category-ent{background: var(--ent-color);}
.category-tech{background: var(--tech-color);}

.btn{
    display: inline-block;
    border: none;
    background: var(--dark-color);
    color: #fff;
    padding: 0.5rem 1.5rem;
}

.btn:hover{opacity: 0.9;}

.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.btn-light{background: var(--light-color);}
.btn-primary{background: var(--primary-color);}
.btn-secondary{background: var(--secondary-color);}

.card{
    background: #fff;
    padding: 1rem;
}

.bg-dark{
    background: var(--dark-color);
    color: #fff;
}
.bg-primary{
    background: var(--primary-color);
    color: #fff;
}
.bg-secondary{
    background: var(--secondary-color);
    color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a{
    color: #fff;
}

.l-heading{
    font-size: 3rem;
}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-3{padding: 1.5rem ;}
.p-3{padding: 2rem ;}
.p-3{padding: 3rem ;}

.m-1{margin-top: 0.5rem;}
.m-2{margin-left: 2rem;}
/*--------*/
.container{
    width: 98%;
    height: 100%;
    background: #E4EAF3;
    margin: 0 auto;
}

.showcase{
    background: rgba(0,0,0,0.4);
    color: #fff;
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
}

.showcase .image1,
.showcase .image2{
    background: #333;
    height: 50vh;
    width: 100%;
}

.showcase .image1::before{
    content: '';
    background: url(./img/plomb1.jpg) no-repeat center center/cover;
    height: 50vh;
    width: 50%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

.showcase .image2::before{
    content: '';
    background: url(./img/plomb2.jpg) no-repeat center center/cover;
    height: 50vh;
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0.7;
}

.speech{
    width: 100%;
    height: 100%;
    background: #E4EAF3;
    box-shadow: 10px 10px 10px #A1A9B4, -5px -5px 10px #A1A9B4;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
}

.speech h2{
    color:rgb(20, 107, 221);
    padding-bottom: 0.4rem;
}
.colorful,
.speech h2{
    color:rgb(20, 107, 221);
    transform: translate(0,0);
    transition: all 0.3s ease;
}
.colorful:hover,
.speech h2:hover{
    transform: translate(0,-5px);
}

.colorful::after{
    content: ' :';
}
.speech h2:after{
    content: ' :';
}

.speech p{
    color: #444;
    font-weight: 900;
    line-height: 2;

}

 .articles-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

.articles-container > *:first-child,
.articles-container > *:last-child{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
}

 .articles-container > *:last-child{
    grid-column: 2 / span 2;
}

.card p{
    font-size: 1.1rem ;
}

.article .meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 0.5rem;
}

.article .meta .category{margin-top: 0.4rem;}

@media(max-width: 768px){
    .articles-container,
    .articles-container > *:first-child,
    .articles-container > *:last-child{
        grid-template-columns: 1fr;
        grid-column: 1 / span 1;
    }
}

