@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #347AB7;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 95%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 1rem ;
}
.links{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #e8e8e8;
    /* padding: 0 1rem; */
    border-bottom: #e8e8e8 1px solid;
}



.links a{color: #555;}
.links section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
}

.showcase{
    background: #333;
    color: #fff;
    position: relative;
    width: 100%;
    height: 20vh;
   
}
.showcase::before{
    content: '';
    background: url(./img/contactImage.jpeg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    opacity: 0.7;
    
}

 .showcase .showcase-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
 }

 .showcase .showcase-container .showcase-content{
     width: 30%;
     height: 100%;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
    
 }

 .showcase .showcase-container .showcase-content h1{
     animation: anim 1s forwards ease;
 }

 @keyframes anim{
     from{transform: translate(0,-10px);}
     to{transform: translate(0,0);}
 }

 

 h2{
     text-align: center;
     transform:translate(0,0);
     transition: transform 0.3s ease;

 }
 h2:hover{
     transform: translate(0,-5px);
 }

 h2 +div{
     width: 70px;
     height: 5px;
     background: #347AB7;
     margin: 0 auto;
 }

 .filtres{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     padding: 3rem 0;
     margin: 1rem 0;
     background: #edf1f7;
 }



 .filtre{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 2rem 0;
     text-align: center;
 }

 .filtre h4{
     margin-right: 1.7rem;
 }

 .filtre select,
 option{
     padding: 0.7rem 0.5rem;
     margin-right: 0.7rem;
     background: #fff;
     font-weight: bolder;
     border: #5C95CB 1px solid;
     border-radius: 4px;
     transition: all 0.3s ease;
     font-family: 'Lato' , sans-serif;
 }

 .filtre .btn{
     margin-left: 0.5rem;
     background: #5C95CB;
     color: #f6f6f6;
     font-weight: bolder;
     padding: 0.5rem 2rem;
     border-radius: 7px;
     transform: translate(0,0);
     transition: all 0.3s ease;
 }

 .filtre .btn:hover{
     background: #347AB7;
     transform: translate(5px,0);
 }

 .filtre select:focus{
     outline: none;
 }

 .projects{
   width: 95%;
   height: 100%;
   margin: 0 auto;

 }

 .projects .project{
     background: #fff;
     display: flex;
     flex-direction: column;
     border-radius: 7px;
     box-shadow: -15px 0 35px rgba(0,0,0,0.1), 
        0 -15px 35px rgba(0,0,0,0.1), 
        0 15px 35px rgba(0,0,0,0.1) ;
        margin: 2rem auto;
        width: 50%;
        animation: anim 1s forwards ease-in;
    }

   


 .projects .project  img{
     height: 50%;
     width: 100%;
     align-self: center;
     border: #f6f6f6 4px solid;
     /* padding: 0 1rem; */
     
 }
 .projects .project .right-side{
     border-left: #edf1f7 4px solid;
     background: #f6f6f6;
 }
 .projects .project .right-side .title-project{
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     transform: translate(0,0);
     transition: transform 0.3s ease;
 }

 .projects .project .right-side .title-project:hover{
     transform: translate(5px,0);
 }

 .projects .project .right-side .title-project h4{
    text-align: center;
    padding: 0.5rem;
    color: #333;
    margin: 0.5rem 0.5rem 0 0.5rem  ;
    border-radius: 5px;
    border : none;
    transition: all 0.3s ease;
 }
 .projects .project .right-side .title-project i{
     color: #5C95CB;
 }

 .line{
     width: 50px;
     height: 5px;
     background: #c4302b;
     border-radius: 7px;
     margin: 0 auto;
 }

 .projects .project .right-side > h4:hover{
     background: #f9f9f9;
     /* color: #fff; */
 }

 .projects .project .right-side > h5{
     margin:  0.7rem 1rem;
     padding-top: 1rem;
     color: #333;

 }

 .projects .project .right-side > p{
     margin: 0.7rem 1rem;
     background: #fff;
     padding: 3rem;
     border-radius: 4px;
 }


 .projects .project .right-side .infos{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     margin : 0.7rem 1rem;
     justify-content: center;
     align-items: center;
     grid-gap: 1rem;
     
 }
 .spec{
    grid-column: 1 / span 2;
}

 .projects .project .right-side .infos .info{
     display: flex;
     align-items: center;
     justify-content: start;
     text-align: start;
     padding: 0.7rem 3rem;
     border: #edf1f7 5px solid;
     transform: translate(0,0);
     transition: transform 0.3s ease;
 }

 .projects .project .right-side .infos .info:hover{
    transform: translate(5px,0);
    background: #fff;
 }


 .projects .project .right-side .infos .info i{
     background: #347AB7;
     padding: 1.2rem;
     border-radius: 50%;
     color: #fff;
     transition: all 0.3s ease;
 }

 .projects .project .right-side .infos .info i:hover{
     background: #5C95CB;
 }
 

 .projects .project .right-side .infos .info div > h4{
     color: #5C95CB;
     text-align: start;
 }

 .projects .project .right-side .infos .info div > p{
     text-align: start;
     margin-left: 32px;
     font-weight: 900;
 }

 .projects .project .right-side .infos .info:last-child{
    grid-column: 1 / span 2;
    justify-content: center;
    margin-left: 1rem;
}

.projects .project .right-side .infos .info:last-child div > p{
    margin-left: 1.6rem;
}
.projects .project .right-side .infos .info:last-child div > h4{
    text-align: start;
}



 /*Responsive*/

@media(max-width:1290px)
{
    .projects .project{
        flex-direction: column;
        width: 80%;
    }   
    .projects .project  img{
        width: 100%;
        height: 100%;
    }

    .projects .project .right-side .title-project{
        margin-top: 2rem;
    }


}

@media(max-width:768px){
    .projects .project{
        width: 100%;
    }

    .filtres{
        margin: 0;
        padding: 0 2rem;
        grid-template-columns:1fr;
        text-align: start;
        align-items: center;
        width: 100%;

    }
    .filtre{
        align-self: start;
        text-align: start;
    }

    .filtre select{
        width: 40%;
    }
    .filtre select:nth-child(2){
        margin-left: 3rem;
    }

    

    
    
}

/*Responsive*/

@media(max-width:600px)
{

    .projects{width: 100%;}

    .projects .project .right-side .infos .info{
        padding: 0.7rem 2rem ;
    }

    .projects .project .right-side .title-project{
        flex-direction: column;
        text-align: center;
    }

    .projects .project .right-side .title-project i{
        display: none;
    }

    .links{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .links a{
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: #fff 1px solid;

    }

    .links a:hover{
        transform: translate(-5px,0);
    }
}


