@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #edf1f7;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
 
}

.container{
    width: 95%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 1rem ;
}
.links{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5C95CB;
}
.links a{
    margin: 0 1rem;
    color: #fff;
    font-weight: bold;
    border-right: #fff 1px solid;
    padding-right: 1rem;
    transform: translate(0,0);
    transition: transform 0.3s ease-in-out;
}
.links a:last-child{
    border-right: none;
}
.links .active{
    color: #c4302b;
}
.links a:hover{
    transform: translate(0,-5px);
}

.showcase{
    background: #333;
    color: #fff;
    position: relative;
    width: 100%;
    height: 20vh;
   
}
.showcase::before{
    content: '';
    background: url(./img/contactImage.jpeg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    opacity: 0.7;
    
}

 .showcase .showcase-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
 }

 .showcase .showcase-container .showcase-content{
     width: 30%;
     height: 100%;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     transition: all 0.3s ease;
    
 }

 .showcase .showcase-container .showcase-content h4{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    animation: topic 1s forwards ease;
 }
 @keyframes topic{
     from{
         transform: translate(0,-20px);
     }
     to{
         transform: translate(0,0);
     }
 }



 .showcase + h2{
     text-align: center;
     color: #333;
     transform: translate(0,0);
     transition: all 0.3s ease;
 }

 .showcase + h2:hover{
     transform: translate(5px ,0);
     color: #c4302b;
 }




 .line{
     width: 100px;   
     height: 5px;
     background: #347AB7;
     margin: 0.5rem auto;
     border-radius: 1px;
 }
 /* Caroussal */
 .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    /* max-width: 1100px; */
    max-height: 550px;   
    overflow: hidden;
    position: relative;
    margin: 1.5rem auto;
    background: #fff !important;

}

.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content:flex-start;
  -webkit-flex-direction: column;
  background: #fff;
  order: 1;
  left: 0;
  /* margin:  auto; */
  /* margin-top: 2rem; */
  padding: 2rem 40px 0 40px;
  width: 40%;

}

.carousel-item__image {
    width: 40%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #7e7e7e;
    line-height: 22px;
    /* margin-bottom: 35px; */
    /* background: coral; */
    /* padding: 0.7rem 0.5rem; */
}


.carousel-item--1 .carousel-item__image{
  background-image: url('./img/EnergieRen/40.PNG?auto=compress&cs=tinysrgb&dpr=8&h=650&w=940');
}


.carousel-item--2 .carousel-item__image{
    background-image: url('./img/EnergieRen/41a.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.carousel-item--3 .carousel-item__image{
    background-image: url('./img/EnergieRen/41b.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

/* .carousel-item--4 .carousel-item__image{
    background-image: url('pexels-zhugewala-2113855.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

.carousel-item--5 .carousel-item__image{
    background-image: url('pexels-karolina-grabowska-4041392.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
} */




.carousel-item__container{
}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
  transform: translateX(0); 
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0); 

}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


 /*Responsive*/

 @media(max-width:768px)
 {
    .links{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .links a{
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: #fff 1px solid;

    }

    .links a:hover{
        transform: translate(-5px,0);
    }
    .carousel{
        padding: 0;
    }
 }

 @media(max-width:600px){

    .Side-menu{
        flex-direction: column;
    }
    .Side-menu .right-side-menu{
        display: flex;
        flex-direction:column ;
        justify-content:center ;
        align-items: center;
    }
    .links{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .links a{
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: #fff 1px solid;

    }

    .links a:hover{
        transform: translate(-5px,0);
    }

    .carousel{
        width: 100%;
        min-height: 100vh;
        max-width:none;
        display: flex;
        flex-direction: column !important;


    }

    .carousel-item{
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
    }
    .carousel-item__info{
        padding: 0 1rem;
        width: 100%;
    }
    .carousel-item__description{
        padding: 0;
    }

    .carousel-item__image {
        width: 100%;
        height: 100%;
        margin-bottom: 3rem;
    }
 }