@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

body{
    background: #edf1f7;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin:0;
}
.container{
    width: 95%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
}

.links{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5C95CB;
}
.links a{
    margin: 0 1rem;
    color: #fff;
    font-weight: bold;
    border-right: #fff 1px solid;
    padding-right: 1rem;
    transform: translate(0,0);
    transition: transform 0.3s ease-in-out;
}
.links a:last-child{
    border-right: none;
}
.links .active{
    color: #c4302b;
}
.links a:hover{
    transform: translate(0,-5px);
}


.showcase{
    background: #333;
    color: #fff;
    position: relative;
    width: 100%;
    height: 50vh;
   
}
.showcase::before{
    content: '';
    background: url(./img/success.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    opacity: 0.4;
    transition: all 0.3s ease;
}

.showcase + h1,
.activities + h1{
    text-align: center;
    padding-top: 1rem;
    color: #333;
    transform: translate(0,0);
    transition: all 0.3s ease;
}

.showcase + h1:hover,
.line + h1:hover{
    transform: translate(0,-5px);
}

.showcase .showcase-container{
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.showcase .showcase-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.showcase .showcase-container h1{
    animation: success 2s forwards  ease-in-out;
    color: #f6f6f6;
}

@keyframes success {
    from{
        transform: translate(0,-200px);
    }
    to{
        transform: translate(0.0);
    }
}



.showcase .showcase-container div i {
    padding: 0 0.7rem;
    color: #f6f6f6;
    transform: translate(0,0);
    animation : icons 2s forwards ease-in-out;
    transition: transform 0.3s ease;
}

@keyframes icons{
    from{
        transform: translate(-250px,0);
    }
    to{
        transform: translate(0.0);
    }
}
.showcase .showcase-container div i:hover {
    transform: translate(0,5px);
}


.showcase .showcase-container div span{
    animation: spantext 2s forwards ease;
}

@keyframes spantext{
    from{
        transform: translate(400px,0);
    }
    to{
        transform: translate(0.0);
    }
}

.box:hover{
    transition: background 0.7s ease;
    background: #f6f6f6;}
.box .circle-number{
    /* background: rgba(94,44,237,0.15); */
    background: #347AB7;
    width:50px;
    height: 50px;
    padding: 1rem;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}
.box .circle-number h2{
    padding-bottom: 0.5rem;
    color:#fff;
    text-align: center;
    align-self: center;
}

.activities{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    padding: 1rem 5rem;
    margin: 0 auto;
}
.activities .box{
    box-shadow: 10px 10px 10px #f6f6f6, -5px -5px 10px #f6f6f6;
    padding: 1rem 0.7rem;
}

.activities .box h3{
    font-size: 1.5rem;
    margin-left: 1rem;
}

.activities .box p{
    line-height: 1.8;
    text-align: start;
    padding-left: 1rem;
    margin: 0.7rem 0;
}

.activities .box .btn{
    text-decoration: none;
    color: #fff;
    background: #c4302b;
    font-weight: bold;
    padding: 0.7rem 0.5rem;
    border-radius: 10px;
    float: right;
    transform: translate(0,0);
    transition: all 0.3s ease;
}

.activities .box .btn:hover{
    background: #347AB7 ;
    transform: translate(5px,0);
}

.line{
    width: 100px;   
    height: 5px;
    background: #5C95CB;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 1px;
}

.marques{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem ;
    margin: 0 auto;
}
.marques img{
    width: 200px;
    height: 100px;
    /* border-radius: 50%; */
    text-align: center;
    align-self: center;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 10px 10px 10px #f6f6f6, -5px -5px 10px #f6f6f6;
}




/*Responsive*/

@media(max-width: 768px){
    .activities{
        grid-template-columns: repeat(2,1fr);
        transition: all 0.4s ease;
    }

    .marques{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width:600px){
    .marques{
        grid-template-columns: repeat(2,1fr);
    }
}


@media(max-width: 500px)
{
    .activities{
        grid-template-columns: 1fr;
        padding: 1rem 3rem;
        transition: all 0.4s ease;
    }
  
    .links{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .links a{
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: #fff 1px solid;
    
    }
    
    .links a:hover{
        transform: translate(-5px,0);
    }


}













