@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body{
    background: #347AB7;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    padding-bottom: 50px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #317ec7;
    --secondary-color: #5C95CB;
    --max-width: 1100px;
}

h1,h2,h3,h4{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin:0;
}
.container{
    width: 95%;
    height: 100%;
    background: #317ec7;
    margin: 0 auto;
}

.showcase{
    background: #fff;
    color: #fff;
    position: relative;
    width: 100%;
    height: 65vh;
   
}
.showcase::before{
    content: '';
    background: url(./img/clockHistory.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    opacity: 1;
    transition: all 0.3s ease;
}

.showcase .showcase-container{
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
  
}

.showcase .showcase-container .showcase-content{
    padding: 1rem 2rem;
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px #999, -2px -2px 2px #999;
    background: #5C95CB;
    /* background: rgb(214, 211, 211); */
    margin-left: 1rem;


}

.showcase .showcase-container .showcase-content h3{
    background: #317ec7;
    text-align: center;
    border-radius: 15px;
    transition: all 0.3s ease-in;
    width: 50%;
    padding:0 0.2rem;
}
.showcase .showcase-container .showcase-content h3:hover{
    background: #c4302b;
}

.showcase .showcase-container .showcase-content div{
margin-top: 0.7rem;
margin-left: 2rem;
width:80%;
}
.showcase .showcase-container .showcase-content a{
    width: 100%;
    text-align: end;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.showcase .showcase-container .showcase-content a:hover{
    color: #f6f6f6;
}

.speech-paragraph{
    background: #fff;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
}

.showcase .showcase-container i{
    color: #317ec7;
    padding: 0 0.7rem;
}

/*timeline*/
/* #timeline{

} */
#timeline ul{
    background: #fff;
    padding: 50px 0;
}

/*Create Line */
#timeline ul li{
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #e3e3e3;
}

/* Boxes*/
#timeline ul li div{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background: #317ec7;
    transition: all 1s ease-in-out;
    visibility: hidden;
    color: #fff;
    opacity: 0;

}

/*Positionning the Boxes*/

#timeline ul li:nth-child(odd) div{
    left: 40px;
    transform: translateX(200px);
}

#timeline ul li:nth-child(even) div{
    left: -434px;
    transform: translateX(-200px);
}

/*Dots */

#timeline ul li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25px;
    height: 25px;
    background:#317ec7;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}


/*Arrow Base */
#timeline ul li div:after{
    content: '';
    position: absolute;
    bottom: 5px;
    border-style: solid;
}



/*Right Side Arrows*/

#timeline ul li:nth-child(odd) div:after{
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #444 transparent transparent;
}
#timeline ul li:first-child div:after{
    border-color: transparent #20c9a6 transparent transparent;
}

#timeline ul li:nth-child(3) div:after{
    border-color: transparent #e74a3b transparent transparent;
}

#timeline ul li:nth-child(5) div:after{
    border-color: transparent #317ec7 transparent transparent;
}

#timeline ul li:nth-child(7) div:after{
    border-color: transparent #e74a3b transparent transparent;
}

#timeline ul li:nth-child(9) div:after{
    border-color: transparent #f6c23e transparent transparent;
}



/*Left Side Arrows*/
#timeline ul li:nth-child(even) div:after{
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color:transparent transparent transparent  #317ec7;
}

#timeline ul li:nth-child(4) div:after{
  
    border-color:transparent transparent transparent  #f6c23e;
}

#timeline ul li:nth-child(6) div:after{
  
    border-color:transparent transparent transparent  #e74a3b;
}

#timeline ul li:nth-child(8) div:after{
  
    border-color:transparent transparent transparent  #20c9a6;
}

#timeline ul li:nth-child(10) div:after{
  
    border-color:transparent transparent transparent  #20c9a6;
}


#timeline ul li.show div{
    transform: none;
    visibility: visible;
    opacity: 1;
}

/*Make it Completely Responsive*/

@media(max-width:900px){

    .showcase .showcase-container {
        left: 230px;
        top: 380px;
        width: 50%;
    }
    #timeline ul li div{
        width: 250px;
    }

    #timeline ul li:nth-child(even) div{
        left: -284px;
    }
    
    #timeline ul li::after{
        animation: dots 2s forwards ease;
    }
    @keyframes dots {
        to{
            background: #333;
        }
    }

    #main-header .container > h3{
        text-shadow: 0.4rem 0.3rem 0.7rem black;

    }

    .showcase .showcase-container .showcase-content{
        display: none;
    }

}

@media(max-width: 600px){

    .showcase .showcase-container {
        left: 50px;
        top: 380px;
        width: 80%;
    }
    #timeline ul li{
        margin-left: 20px;
    }

    #timeline ul li div{
        width: calc(100vw -90px);
    }

    #timeline ul li:nth-child(even) div{
        left: 40px;
    }

    #timeline ul li:nth-child(even) div::after{
        right: 250px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--secondary-color) transparent transparent;
    }
  
}
 