@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #edf1f7;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 95%;
    height: 100%;
    padding-bottom: 1rem ;
    margin: 0 auto;
    background: #f6f6f6;
}

.links{
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    margin: 0 auto;
}

.links strong{
    font-size: 1.4rem;
    font-style: italic;
    color: #555;
}

.links a{
    color: #555;
    transition: all 0.3s ease-in-out;
}
.links a:hover{
    transform: translate(0,-5px);
}
.links section:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
}

/* Slider image */
.slider {
    margin: 0 auto 0 auto;
    /* max-width: 1100px; */
    width: 100%;
    height: 100%;
    /* height: 800px; */
  }
  
  .slide_viewer {
    height: 650px;  
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 650px;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 650px;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: url('./img/PAfrique/p1.jpg') no-repeat center center/cover;

  }
  
  .slide:nth-of-type(2) {
    background: url('./img/PAfrique/p2.jpg') no-repeat center center/cover;

  }
  
  .slide:nth-of-type(3) {
    background: url('./img/PAfrique/p3.jpg') no-repeat center center/cover;

  }
  
  .slide:nth-of-type(4) {
    background: url('./img/PAfrique/p4.jpg') no-repeat center center/cover;
    
  }
  .slide:nth-of-type(5) {
    background: url('./img/PAfrique/p5.jpg') no-repeat center center/cover;
    
  }
  .slide:nth-of-type(6) {
    background: url('./img/PAfrique/p6.jpg') no-repeat center center/cover;
    
  }
  .slide:nth-of-type(7) {
    background: url('./img/PAfrique/p7.jpg') no-repeat center center/cover;
    
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
    
  }
  
  .directional_nav {
    height: 540px;
    margin: 0 auto;
    /* max-width: 1100px; */
    position: relative;
    top: -600px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity:1;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
    ;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  svg{
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
}
/**/
.showcase{
    background: #333;
    color: #fff;
    position: relative;
    width: 100%;
    height: 50vh;
   
}
.showcase::before{
    content: '';
    background: url(./img/PAfrique/p6.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    opacity: 0.8;
}

.showcase .showcase-content{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    top: 120px;
    z-index: 1;
}

/*text Animation*/

.theTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12rem;
    margin-top: 7rem;
    margin-bottom: 2rem;
    height: 80px;
    transform: translate(-50%, -50%);
    width: 600px;
}

.right, .left{
    width: 20%;
    overflow: hidden;
}
.left{
    text-align: center;
}

.left i{
    font-size: 44px;
    margin-left: 2rem;
}
.right{
    margin-bottom: 19px;
    /* margin-left: -4rem; */
    text-align: start;
}
.theTitle h1{
    margin: 0;
    height: 120px;
    line-height: 120px;
    vertical-align: middle;
    font-family:  'Lato',sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #444;
    transform: translateX(100%);
    transition: transform 0.6s ease-out .1s;
}

.theTitle .separator{
    background-color: #e74a3b;
    width: 4px;
    transform: rotate(90deg);
    height: 0;
    display: block;
    margin: 0 6px 0 0;
    transition: height 0.3s ease 0.9s, transform 0.3s ease 0.6s;
}

.declencheur .separator{
    height: 100%;
    transform: rotate(0);
    transition: height 0.3s ease, transform 0.3s ease 0.4s;

}
.theTitle.declencheur h1{
    transform: translateX(0);
    transition: transform 0.6s ease-out 0.8s;
}
.theTitle.declencheur p{
    transform: translateX(0);
    transition: transform 0.5s ease-out 0.7s;
}
.theTitle .right{
    display: flex;
    align-items: center;
    width: 50%;
}
.theTitle p{
    margin: 1.2rem 0 0 0 ;
    padding: 0;
    font-family: 'Lato',sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.7;
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #333;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.toggleClass{
    background: none;
    border: none;
    border: 2px solid #333;
    font-size: 2rem;
    font-family: Calibri;
    font-weight: 100;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}
.toggleClass:hover{
    background-color: #333;
    color: #fff;
}
.toggleClass:active{
    background-color: #2a2a2a;
}

.title-map{
    text-align: center;
    margin-top: 0.7rem;
}




.line{
    width: 80px;
    height: 5px;
    background: #347AB7;
    margin: 0 auto;

}
.img-magnifier-container {
    width: 60%;
    position:relative;
    margin: 0.7rem auto;
    border: 3px #347AB7 solid;
    border-radius: 7px;

  }
  .img-magnifier-container img{
      width: 100%;
      height: 100%;
  }
  
  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }

  /*speech text*/

  .divers{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 3rem;
      margin-top: -30rem;
      margin-bottom: 4rem;
      font-family: 'Roboto Condensed', sans-serif;
      /* grid-gap: 0.2rem; */
  }

  .diver{
      display: flex;
      width: 100%;
      justify-content: center;
      background: #f6f6f6;
  }
  
  /* .diver .text-speech{
      margin-top: 2rem;
  } */


  .diver .text-speech .content{
       margin: -4rem 0 0 8rem ;
       font-family: 'Roboto Condensed', sans-serif;
       font-size: 22px;
       width: 80%;
       padding: 1rem;
    }



  .diver .image-speech{
      position: relative;
      top: 0;
      width: 100%;
      height: 550px;
      background: #f6f6f6;
      transition: transform 0.3s ease-in-out;
  }

  /* .diver .image-speech:hover{
    transform: scale(1.1);
  } */






@media(max-width:768px){
    
    .links{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .links a{
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: #fff 1px solid;
    
    }
    
    .links a:hover{
        transform: translate(-5px,0);
    }
    .img-magnifier-container{
        width: 100%;
        margin: 0;
        border: none;
    }
}

@media(max-width:600px){
    .boxes img{
        width: 100%;
        height: 100%;
    }
   
}