.carousel-item--1 .carousel-item__image{
    background-image: url('./img/Tenergie/10.jpg?auto=compress&cs=tinysrgb&dpr=8&h=650&w=940');
  }
  
  
  .carousel-item--2 .carousel-item__image{
      background-image: url('./img/Tenergie/b10.PNG?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  .carousel-item--3 .carousel-item__image{
      background-image: url('./img/Tenergie/Page 13 Photo 3 COuverturePhoto Droite.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  .carousel-item--4 .carousel-item__image{
      background-image: url('./img/Tenergie/PAge7Photo3.JPG?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }